@{
    ViewData["Title"] = "Home Page";
}


   <h1>Enter A Number</h1>
    <div class="input-field col s6">
        <input id="userNumber" type="text" class="validate">
        <label for="userNumber">Please Enter Number</label>
    </div>
