@{
    ViewData["Title"] = "Home Page";
}


   <h1>Enter A Number</h1>
    <div class="input-field col s6">
        <form asp-action="NumberInfo">
        <input id="number" name="number" type="text" class="validate">
        <label for="number">Please Input a Number</label>
        <button class="waves-effect waves-light btn ">Analyze</button>
        </form>
    </div>
