@model int

@*
    
    
*@
@{
    ViewData["Title"] = "NumberInfo";
}

<h2 class="center">@Model</h2>

<div class="row">
    <div class="col-sm-12 box">
        <h3 class="center">Properties Of This Number</h3>
        <div class="descriptionbox">
            <a href="https://en.wikipedia.org/wiki/Prime_number" target="_blank" class="center property"><i class="material-icons">done</i><i class="material-icons">close</i>Prime</a>
            <a href="https://en.wikipedia.org/wiki/Perfect_number" target="_blank" class="center property"><i class="material-icons">done</i><i class="material-icons">close</i>Perfect</a>
            <a href="http://mathworld.wolfram.com/Squareful.html" target="_blank" class="center property"><i class="material-icons">done</i><i class="material-icons">close</i>Squareful</a>
            <a href="https://en.wikipedia.org/wiki/Powerful_number" target="_blank" class="center property"><i class="material-icons">done</i><i class="material-icons">close</i>Squarefull</a>
            <a href="https://en.wikipedia.org/wiki/Palindromic_number" target="_blank" class="center property"><i class="material-icons">done</i><i class="material-icons">close</i>Palindrome</a>
        </div>
        <a href="/" class="waves-effect waves-light btn enternum  blue darken-1" id="back">Enter New Number</a>
    </div>
</div>
