@*
    
    
*@
@{
    ViewData["Title"] = "NumberInfo";
}

<h2 class="center">UserNumber</h2>

<div class="row">
    <div class="col-sm-12">
        <p>Prime</p>
        <p>Perfect</p>
        <p>Squareful</p>
        <p>Squarefull</p>
        <p>Palindrome</p>
        <button class="waves-effect waves-light btn ">@Html.ActionLink("Enter New Number", "Index", "Home")</button>
    </div>
</div>
