 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  button {
      color:white;
  }

  p {
      font-size: 18px;
      color: white;
  }  

  .descriptionbox {
      border:1px solid #1565c0;
      background-color: #1565c0;
      border-radius: 5px;
      
  }

  .enternum{
      margin-top: 5%;
  }
  a{
      display:block;
      color:white;
      
  }
  .property, i{
      font-size: 30px;
      line-height: 2em;
  }
     